.logo {
    display: block;
    margin: auto;
    padding-bottom: 50px !important;
}
h3 {
    padding-top: 25px !important;
}

.btn-default {
    background-image: linear-gradient(45deg, #f0c14b, transparent);
}

.strikethrough {
    text-align: center;
}

.account {
    background-image: linear-gradient();
}
.form-group {
    border: solid 1px lightgray;
    padding: 30px;
}

.btn-zon {
    background-image: linear-gradient(#111);
}